In [1]:
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.9.1-py3-none-any.whl (199 kB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\anaconda3\lib\site-packages (from imbalanced-learn) (1.6.2)
Collecting scikit-learn>=1.1.0
  Downloading scikit_learn-1.1.1-cp38-cp38-win_amd64.whl (7.3 MB)
Requirement already satisfied: joblib>=1.0.0 in c:\users\admin\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from imbalanced-learn) (1.20.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from imbalanced-learn) (2.1.0)
Installing collected packages: scikit-learn, imbalanced-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.1
    Uninstalling scikit-learn-0.24.1:
      Successfully uninstalled scikit-learn-0.24.1
Successfully installed imbalanced-learn-0.9.1 scikit-learn-1.1.1

In [2]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
#from sklearn.feature_extraction.text import CountVectorizer  #DT does not take strings as input for the model fit step....
from IPython.display import Image  
#import pydotplus as pydot
from sklearn import tree
from os import system

In [21]:
df = pd.read_csv("default_2k.csv")

In [22]:
df.head()

  default student     balance        income
0      No      No  412.071615  48347.296982
1      No     Yes  579.721305  18555.752586
2      No      No  694.398583  36570.425441
3      No      No    0.000000  41933.095770
4      No     Yes  407.340440  25376.728632

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  1994 non-null   object
 1   student  1994 non-null   object
 2   balance  1994 non-null   float64
 3   income   1994 non-null   float64
dtypes: float64(2), object(2)
memory usage: 62.4+ KB

In [24]:
for feature in df.columns: # Loop through all columns in the dataframe
    if df[feature].dtype == 'object': # Only apply for columns with categorical strings
        df[feature] = pd.Categorical(df[feature])# Replace strings with an integer
df.head()

  default student     balance        income
0      No      No  412.071615  48347.296982
1      No     Yes  579.721305  18555.752586
2      No      No  694.398583  36570.425441
3      No      No    0.000000  41933.095770
4      No     Yes  407.340440  25376.728632

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  1994 non-null   category
 1   student  1994 non-null   category
 2   balance  1994 non-null   float64
 3   income   1994 non-null   float64
dtypes: category(2), float64(2)
memory usage: 35.4 KB

In [42]:
X = pd.get_dummies(df.drop("default",axis=1),drop_first=True)
y = df["default"]

In [43]:
X.head()

      balance        income  student_Yes
0  412.071615  48347.296982            0
1  579.721305  18555.752586            1
2  694.398583  36570.425441            0
3    0.000000  41933.095770            0
4  407.340440  25376.728632            1

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=1)

In [45]:
from sklearn.ensemble import BaggingClassifier

In [46]:
bgcl = BaggingClassifier(random_state=1)
bgcl = bgcl.fit(X_train, y_train)

In [47]:
bgcl.score(X_test , y_test)

0.9732888146911519

In [48]:
df['default'].value_counts()

No     1931
Yes      63
Name: default, dtype: int64

In [49]:
from collections import Counter
from imblearn.over_sampling import SMOTE

In [50]:
oversample = SMOTE(random_state=1)
X, y = oversample.fit_resample(X, y)

In [51]:
counter=Counter(y)
counter

Counter({'No': 1931, 'Yes': 1931})

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=1)

In [53]:
from sklearn.ensemble import AdaBoostClassifier
abcl = AdaBoostClassifier(random_state=1)
abcl = abcl.fit(X_train, y_train)

In [54]:
abcl.score(X_test , y_test)

0.9197584124245038