<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">Problem Statement
    
__The staff of a service center for electrical appliances include three technicians who specialize in
repairing three widely used electrical appliances by three different manufacturers. It was desired
to study the effects of Technician and Manufacturer on the service time. Each technician was
randomly assigned five repair jobs on each manufacturer's appliance and the time to complete
each job (in minutes) was recorded.The data for this particular experiment is thus attached.__

#### Note: Assume the data satisfies all the assumptions of ANOVA.

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> Import all the required libraries

In [4]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols      # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> Load the dataset.

In [5]:
df = pd.read_csv('Service.csv')
df.head()

   Technician  Manufacturer  Job  Service Time
0           1             1    1            62
1           1             1    2            48
2           1             1    3            63
3           1             1    4            57
4           1             1    5            69

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> Question 1

**Check the data types of variables, basic measures of descriptive statistics and the occurrence of each of the categories in the corresponding variables of interest.**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Technician    45 non-null     int64
 1   Manufacturer  45 non-null     int64
 2   Job           45 non-null     int64
 3   Service Time  45 non-null     int64
dtypes: int64(4)
memory usage: 1.5 KB

In [8]:
df.describe()

       Technician  Manufacturer        Job  Service Time
count   45.000000     45.000000  45.000000     45.000000
mean     2.000000      2.000000   3.000000     55.822222
std      0.825723      0.825723   1.430194      8.448477
min      1.000000      1.000000   1.000000     39.000000
25%      1.000000      1.000000   2.000000     50.000000
50%      2.000000      2.000000   3.000000     56.000000
75%      3.000000      3.000000   4.000000     62.000000
max      3.000000      3.000000   5.000000     70.000000

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> Question 2

**State the Null and Alternate Hypothesis for conducting one-way ANOVA for both the variables ‘Manufacturer’ and ‘Technician’ individually.**

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">Question 3

**Perform one-way ANOVA for variable ‘Manufacturer’ with respect to the variable ‘Service Time’. State whether the Null Hypothesis is accepted or rejected based on the ANOVA results.**
    
[Hint: Take care of the appropriate data types and names of the variables]

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;"> Level of significance:

$\alpha$ = 0.05

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">Question 4
    
**Perform one-way ANOVA for variable ‘Technician’ with respect to the variable ‘Service Time’. State whether the Null Hypothesis is failed to reject or rejected based on the ANOVA results.**

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">Question 5
    
**Analyze the effects of one variable on another with the help of an interaction plot.**

[hint: use the ‘pointplot’ function from the ‘seaborn’ graphical subroutine in Python]

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">Question 6
    
**Perform a two-way ANOVA based on the variables ‘Manufacturer’ & ‘Technician’ with respect to the variable ‘Service Time’ and state your results.**

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;">THE END